*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  width:100vw;
  overflow-x: hidden;
}
/* Navbar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

nav  i{
 font-size: 30px;
 margin-right: 5px;
  
}

nav .logo img{
width: 60px;
border-radius: 50%;
}

#nav-list{
  /* transition-delay: 0.5s; */
  overflow: hidden;transition: height 0.5s;
}
#nav-list ul{
width: 100%;
background-color: #eee;

}

#nav-list ul a{
  text-decoration: none;
  
}

#nav-list ul li{
  width: 100%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color:black

}

#nav-list ul li:hover{
  transition: background-color 1s ease-out;
  background-color: #ddd;
}
.container{
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 80vw; */
  /* background-color: rgb(255, 255, 141); */
  
}

.container .cards{
  height: 30vh;
  max-width: 80vw;
  padding: 2rem;
  margin: 1rem;
  /* background-repeat: no-repeat;
  background-position-x: center; */
  background-color: rgb(255, 186, 186);
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 188, 209)); */
}

.container img {
  height: 12rem;
  width: 15rem;
  border-radius: 1.5rem;
}

.cards{
  display: flex;
  justify-content: space-around;
  align-items: 2rem;
}


/* form styles */

#contact
{
  width: 100vw;
}

form {
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
/* form styles end */